body {
  margin: 0;
  /*font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --text-color: #00150f;
  --text-color-rgb: 0, 21, 15;
  --background-color: #fff;
  --background-color-rgb: 255, 255, 255;
  --primary-color: #00845E;
  --primary-color-rgb: 0, 132, 94;
  --error-color: #840032;
  --error-color-rgb: 132, 0, 50;
  --card-color: #e4e6e5; /* 10% of --text-color on --background-color */
  --card-color-rgb: 228, 230, 229;
}
@media (prefers-color-scheme: dark) {
  :root {
    --text-color: #fff;
    --text-color-rgb: 255, 255, 255;
    --background-color: #00150f;
    --background-color-rgb: 0, 21, 15;
    --primary-color: #00d095;
    --primary-color-rgb: 0, 208, 149;
    --error-color: #840032;
    --error-color-rgb: 132, 0, 50;
    --card-color: #1a2d28; /* 10% of --text-color on --background-color */
    --card-color-rgb: 26, 45, 40;
  }
}

:root {
  --content-box-width: 500px;

  --font-family-headline: "Ubuntu Mono", Ubuntu, sans-serif;
  --font-family-text: Ubuntu, sans-serif;
  --font-family-code: Ubuntu Mono, source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;

  --transition: 0.2s ease;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth !important;
}

@media (max-width: 900px) {
  .hide_on_small_screens {
    display: none;
  }
}
@media (min-width: 900px) {
  .hide_on_large_screens {
    display: none;
  }
}

body {
  background: var(--background-color);
  color: var(--text-color);
  font-family: var(--font-family-text);
  transition: color var(--transition), background-color var(--transition);
}

h1 {
  font-family: var(--font-family-headline);
  font-weight: bold;
  font-size: 80px;
  letter-spacing: -1.5px;
  line-height: 1.1;
}

h2 {
  font-family: var(--font-family-text);
  font-weight: bold;
  /* font-size: 40px; */
  font-size: 1.5rem;
  /* margin-bottom: 40px; */
}

h3 {
  font-family: var(--font-family-text);
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 0px;
}
h3+p {
  margin-top: 10px;
}

body,
p,
button,
input,
textarea {
  font-family: var(--font-family-text);
  font-weight: normal;
  font-size: 20px;
  letter-spacing: 0.5px;
}
p {
  margin-bottom: 1rem;
}

.body2 {
  font-family: var(--font-family-text);
  font-weight: normal;
  font-size: 16px;
  letter-spacing: 0.25px;
}

button,
input[type="search"] {
  /* text-transform: uppercase; */
  border: 0;
  font-weight: bold;

	padding: 10px 20px;
	border-radius: 100px;
	color: var(--background-color);
	fill: var(--background-color);
	background: var(--text-color);
	font-weight: bold;

  --shadow-width: 0px;
  --shadow-color: var(--text-color);
  --shadow-amount: 0;
  box-shadow: /* this gets rid of a weird 0.1px gap between box and shadow */
    inset 0 0 calc(1px * var(--shadow-amount)) calc(1px * var(--shadow-amount)) var(--shadow-color),
    0 0 0 calc(var(--shadow-width) * var(--shadow-amount)) var(--shadow-color),
    0 0 calc(1px * var(--shadow-amount)) calc(1px * var(--shadow-amount)) var(--shadow-color);

	transition: box-shadow var(--transition);
}
input[type="search"] {
  width: 100%;
}
button {
  cursor: pointer;
}
button.primary {
  color: var(--background-color);
  fill: var(--background-color);
  background: var(--primary-color);
  --shadow-color: var(--primary-color);
}
button.text {
  color: var(--text-color);
  fill: var(--text-color);
  background: var(--background-color);
  --shadow-color: var(--background-color);
}
button.small {
  padding: 5px 10px;
  font-size: 14px;
}
button[data-selected="true"] {
  --shadow-width: 5px;
  --shadow-color: var(--text-color);
  --shadow-amount: 1;
}
button.small[data-selected="true"] {
  --shadow-width: 2px;
  --shadow-color: var(--text-color);
}
button:hover {
  --shadow-width: 10px;
  --shadow-color: var(--text-color);
  --shadow-amount: 1;
	color: var(--background-color);
	fill: var(--background-color);
	background: var(--text-color);
	text-decoration: none;
}
button.primary:hover {
  --shadow-width: 10px;
  --shadow-color: var(--primary-color);
  color: var(--background-color);
  fill: var(--background-color);
  background: var(--primary-color);
  text-decoration: none;
}
button.small:hover {
  --shadow-width: 5px;
  --shadow-color: var(--text-color);
}
button.primary.small:hover {
  --shadow-width: 5px;
  --shadow-color: var(--primary-color);
}
button:active,
button:focus,
button.active {
	color: var(--background-color);
	fill: var(--background-color);
	background: var(--text-color);
  --shadow-color: var(--text-color);
	text-decoration: none;
}
button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

code {
  font-family: var(--font-family-code);
}

a,
a:hover,
a:active,
a:focus {
  color: var(--text-color);
  text-decoration: underline;
  text-decoration-color: var(--text-color);
}
a:hover {
  text-decoration: underline;
  text-decoration-style: double;
  text-decoration-color: currentColor;
}
h3 > a,
h3 > a:hover,
h3 > a:active,
h3 > a:focus {
  text-decoration-style: unset;
}
h3 > a,
h3 > a:active,
h3 > a:focus {
  text-decoration: none;
}

hr {
  border: 0;
  height: 1px;
  background-color: var(--text-color);
  margin: 0;
}

.middle_box {
  width: var(--content-box-width);
  max-width: 100%;
  margin: 0 auto;
}

nav {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}
